* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1c20;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}

.prompt {
  padding: 2rem;
  max-width: 40%;
  min-height: 30vh;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #121013;
  border-radius: 10px;
}

.prompt input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  min-width: 70%;
  min-height: 3.5rem;
  padding:15px 10px;
  border:none;
  background-image:none;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  transition:  .3s ease-out; 
  margin: 1rem auto;
}

.prompt input:focus {
  transform: scale(1.1);
}



header {
  padding: 3%;
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
}

header h1 {
  font-weight: 600;
}

header p {
  margin-top: 1rem;
  font-weight: 500;
  font-style: italic;
}

.disclaimer {
  margin-top: 2rem;
  opacity: 0.6;
}

.inputContainer {
  position: relative;
}

.todoInput {
  margin: 0 auto;
}

.todoInput input {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 35%;
  min-height: 3.5rem;
  padding:15px 10px;
  border:none;
  background-image:none;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  transition:  .3s ease-out; 
}


.todoInput input:focus {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255);
}

.addBttn {
  position: absolute;
  left: 925px;
  top: 20px;
  color: #51c2d5;
  margin: auto 0 auto 2.4rem;
  cursor: pointer;
  transform: scale(2);
  transition:  .4s ease-out;
}

.addBttn:hover {
  transition:  .4s ease-out;
  transform: scale(2.5);
}


.todo-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.todo-item {
  position: relative;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: .65rem;
  min-width: 25%;
  max-width: 35%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 0.5rem;
  color: #121013;
  border-radius: 10px;
}

.todo-item input, li{
  display: inline;
}

.todo-item li {
  margin-left: 6px;
}


input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}


.trash-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #23689b;
}

.trash-icon:hover{
  color: #38afc4;
  transition: all .2s ease-out;
  transform: scale(1.2);
}

.itemChecked {
  position: relative;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: .65rem;
  min-width: 25%;
  max-width: 35%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  color: #121013;
  border-radius: 10px;
}

.itemChecked input, li{
  display: inline;
}

.itemChecked li {
  margin-left: 6px;
  text-decoration: line-through;
}

/* Mobile version */

@media screen and (max-width: 650px) {
  .prompt {
    padding: 1rem;
    max-width: 80%;
    min-height: 30vh;
  }
  .prompt input {
    width: 90%;
  }
  .prompt h1 {
    font-size: 1.3rem;
  }

  header {
    padding: 10%;
    width: 100%;
  }

  header h1 {
    font-size: 1.5rem;
  }
  
  header p {
    margin-top: 0.7rem;
  }
  .todoInput input {
    font-size: 1rem;
    width: 70%;
    min-height: 2.5rem;
  }
  .addBttn {
    position: static;
    margin: 1.5rem auto 0 auto;
  }

  .todo-item {
    min-width: 70%;
  }
  
  .itemChecked {
    min-width: 70%;
  }
  
}