* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #1a1c20 0%, #121013 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}
header {
  padding: 3%;
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
}
header h1 {
  font-weight: 600;
}

header p {
  font-weight: 500;
  font-style: italic;
}

.todoInput {
  margin: 0 auto;
}

.todoInput input {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 35%;
  min-height: 3.5rem;
  padding:15px 10px;
  border:none;
  background-image:none;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  transition:  .3s ease-out; 
}


.todoInput input:focus {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.addBttn {
  margin: auto 0 auto 2.4rem;
  cursor: pointer;
  transition:  .3s ease-out;
  transform: scale(1.6);
}

.todoInput input:focus+.addBttn {
  transition:  .3s ease-out;
  transform: scale(2);
}

.todo-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.todo-item {
  position: relative;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: .65rem;
  min-width: 25%;
  max-width: 35%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 0.5rem;
  color: #121013;
  border-radius: 10px;
}

.todo-item input, li{
  display: inline;
}

.todo-item li {
  margin-left: 6px;
}


input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}


.trash-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.trash-icon:hover{
  color:  #1a1c20;
}

.itemChecked {
  position: relative;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: .65rem;
  min-width: 25%;
  max-width: 35%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  color: #121013;
  border-radius: 10px;
}

.itemChecked input, li{
  display: inline;
}

.itemChecked li {
  margin-left: 6px;
  text-decoration: line-through;
}
